Environment: "development"
ListenAddr: ':8080'
BaseURL: 'http://localhost:8080/'
Postgres:
  host: 'localhost'
  username: 'postgres'
  password: ''
  database: 'reducto'
  port: 5432
Redis:
  address: 'localhost:6379'
  db: 10
MaxRetries: 20